name: Deploy Stream Price Data App to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check environment variables
        run: |
            echo "Region: $AWS_REGION"
            if [ -z "$AWS_REGION" ]; then
            echo "âŒ AWS_REGION is not set"
            exit 1
            fi

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Get EC2 Public IP
        id: get-ip
        run: |
          IP=$(aws ec2 describe-instances \
            --instance-ids ${{ secrets.STREAM_PRICE_DATA_EC2_ID }} \
            --query "Reservations[0].Instances[0].PublicIpAddress" \
            --output text)
          echo "EC2_IP=$IP" >> $GITHUB_ENV

      - name: Deploy code to EC2
        run: |
            echo "$SSH_PRIVATE_KEY" > key.pem
            chmod 600 key.pem
            # Ensure target directory exists
            ssh -i key.pem -o StrictHostKeyChecking=no ec2-user@$EC2_IP "mkdir -p /home/ec2-user/app"
            rsync -avz -e "ssh -i key.pem -o StrictHostKeyChecking=no" ec2/stream_price_data/ ec2-user@$EC2_IP:/home/ec2-user/app/
            ssh -i key.pem -o StrictHostKeyChecking=no ec2-user@$EC2_IP "sudo systemctl restart streamer.service"
        env:
            SSH_PRIVATE_KEY: ${{ secrets.STREAM_PRICE_DATA_EC2_SSH_PRIVATE_KEY }}
            EC2_IP: ${{ env.EC2_IP }}
